@import url(http://fonts.googleapis.com/css?family=Cantarell);
html, body {
	margin: 0; padding: 0;
    background-color: purple;
	font-family: 'Cantarell', sans-serif;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
}

input, textarea, button, select, option {
	font-family: 'Cantarell', sans-serif;
	border: none;
    border-radius: 2px;
    padding: 2px;
}

input#bg-dimmer {
	-webkit-appearance: none;
	background: linear-gradient(to right, black,  white);
	border-radius: 10px;
	color: blue;
	outline: none;
}

a {
    background-color: gray;
    text-decoration: none;
    color: black;
}

.editor {
	margin-left: 20px;
	margin-top: 20px;
	margin-right: 20px;
}

#images {
	max-width: 100%;
	width: 100%;
	height: 100px;
}

#preview {
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;

}

#save-profile, #load-profile, #delete-profile {
	opacity: 0.8;
}

#save-profile:hover, #load-profile:hover, #delete-profile:hover {
	opacity: 1;
}

#song-file {
    width: 100%;
}

.board {
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	background-color: black;
}

.background-blur {
	-webkit-filter: blur(80px);
	-moz-filter: blur(80px);
	width: 200%;
	margin-left: -500px;
	margin-top: -500px;
	z-index: -1;
}


.foreground-img {
	z-index: 1;
	height: 75%;
	position: absolute;
	top: 12.5%;	
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	display: block;
	border: 5px solid white;
	border-radius: 5px;
}
